.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 200px;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  outline: none;
  margin-bottom: 15px;
  transition: border-color linear 250ms;
}

.button {
  outline: none;
  border-width: 2px;
  width: 200px;
  border-radius: 5px;
  background-color: white;
  transition: border-color background-color linear 250ms;
}

.input:hover,
.input:focus {
  border-color: rgba(0, 0, 208, 0.3);
}

.button:focus,
.button:hover {
  border-color: rgba(0, 0, 208, 0.3);
  cursor: pointer;
}
